<div class="section" id="experience">
    <div class="container">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="card" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="h5 mt-0 title">Infosys Ltd</div>
                            <div class="h6 mt-0 title">Full-Stack Developer
                                (2019 - Present)</div>
                            <ul>
                                <li>
                                    <p align="justify">
                                        Enhanced the report performance by
                                        optimizing the SQL
                                        Queries that reduced report execution
                                        time by 30%.
                                    </p>
                                </li>
                                <li>
                                    <p align="justify">
                                        Familiarity with database technology such as MySQL, Oracle, and MongoDB. 
                                    </p>
                                </li>
                                <li>
                                    <p align="justify">
                                        Developed server less applications with AWS-lambda. 
                                    </p>
                                </li>
                                <li>
                                    <p align="justify">
                                        Responsible for the deployment of applications in pre- production environments and have resolved production
                                        tickets in a timely manner.
                                    </p>
                                </li>
                                <li>
                                    <p align="justify">
                                        Won Infosys Insta Award( 2019).
                                    </p>
                                </li>
                                <li>
                                    <p align="justify">
                                        <b>Languages & Frameworks</b> : HTML, CSS, JavaScript, Angular.JS, Spring Boot, Apache Camel, MySQL, Oracle DB, AWS, Bitbucket, MongoDB
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>