<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2019</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                           
                                <h4 class="category">Sree Chitra Thirunal College of Engineering, Trivandrum</h4>
                                <ul>
                                
                                        <li>Completed <b>Mechanical Engineering </b>with <b>8.56 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2014</p>
                        <div class="h5">12th (CBSE)</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                           
                            <h4 class="category">Arya Central School, Trivandrum</h4>
                            <ul>
                                    <li><b>Completed <b>Computer Science</b></b> with <b>88.4%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2011-2012</p>
                        <div class="h5">10th (CBSE)</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                           
                                <h4 class="category">Bharatiya Vidya Bhavan, Trivandrum</h4>
                                <ul>
                                        <li>Completed 10th with <b>10 GCPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>                                               