<div class="section" id="projects">
    <div class="container">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="card" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="h6 mt-0 title">E-Commerce Site
                            </div>
                            <ul>
                                <li>
                                    <p align="justify">
                                        An e-commerce site for parcel delivery
                                        system with basic functionalities for
                                        two types of login- admin and delivery
                                        agents and order tracking , assigning
                                        and updation.
                                        The application is developed in angular
                                        and spring boot using microservice
                                        architecture. CICD implementation is
                                        done with the help of
                                        Jenkins and Docker images of the
                                        microservices are published in
                                        docker-hub.

                                    </p>
                                </li>
                            </ul>
                            <strong>Github :</strong>
                            <a
                                href="https://github.com/Bharath-Ganesh?tab=projects"
                                class="dark"> &nbsp;&nbsp;E-com-website</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>